<% if @sub_right %>

  <div id="sub-right-details">replace me</div>
  <a class="standard-link" href="<%= "/sublicensors/#{@sub_right.sublicensor_id}" %>">Back to Sublicensor</a>

<% else %>

  Sublicensed right not found.

<% end %>
