<script>
  $(function() {
    $('.match-height-layout').matchHeight();
  })
</script>
<section class="codes">
  <h1>Revenue</h1>
  <div>
    <p>30100 → Theatrical</p>
    <p>30200 → Video</p>
    <p>30300 → Club</p>
    <p>30350 → Club (club films) / SVOD (non-club films)</p>
    <p>30410 → Non-Theatrical</p>
    <p>30430 → Non-Theatrical</p>
    <p>30440 → Non-Theatrical</p>
    <p>30400 → Non-Theatrical (non-theatrical rights) / Other Internet (no non-theatrical rights)</p>
    <p>30415 → Commercial Video</p>
    <p>30420 → Commercial Video</p>
    <p>30500 → SVOD</p>
    <p>30510 → AVOD</p>
    <p>30520 → Other Internet</p>
    <p>30600 → Television</p>
    <p>30700 → TVOD</p>
    <p>30800 → Ancillary</p>
    <p>30900 → Ancillary</p>
  </div>
  <h1>Expenses</h1>
  <div>
    <p>40041 → Video</p>
    <p>40042 → Video</p>
    <p>40051 → Video</p>
    <p>40061 → Video</p>
    <p>40063 → Video</p>
    <p>40064 → Video</p>
    <p>40070 → Non-Theatrical</p>
    <p>40071 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>40078 → Theatrical</p>
    <p>40080 → Theatrical</p>
    <p>40086 → Theatrical</p>
    <p>40090 → Non-Theatrical</p>
    <p>40092 → Theatrical</p>
    <p>47000 → Television</p>
    <p>48200 → Other Internet</p>
    <p>50101 → Theatrical</p>
    <p>50102 → Theatrical</p>
    <p>50103 → Theatrical</p>
    <p>50104 → Theatrical</p>
    <p>50105 → Theatrical</p>
    <p>50110 → Video</p>
    <p>50111 → Video</p>
    <p>50112 → Video</p>
    <p>50250 → Club (club films) / SVOD (non-club films)</p>
    <p>50260 → Club (club films) / SVOD (non-club films)</p>
    <p>50300 → Non-Theatrical</p>
    <p>50320 → Digital Publicity</p>
    <p>50360 → Other Internet</p>
    <p>50400 → Ancillary</p>
    <p>60100 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>60200 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>60300 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>60400 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61100 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61110 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61120 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61140 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61150 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>61160 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63103 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63104 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63105 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63106 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63107 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63110 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63111 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63112 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63114 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63116 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63118 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63119 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>63120 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>64100 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>64101 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>64103 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>64104 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>65101 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>67160 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69100 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69101 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69102 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69109 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69110 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69111 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69112 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
    <p>69113 → Theatrical (theatrical rights) / TVOD (no theatrical rights)</p>
  </div>
</section>
