<% if flash[:sage_import_id] %>
  <div id="sage-import-id" class="hidden"><%= flash[:sage_import_id] %></div>
  <div id="sage-import-label" class="hidden"><%= flash[:label].capitalize %></div>
  <div id="sage-import-quarter" class="hidden"><%= flash[:quarter] %></div>
<% end %>
<div id="reports-index">replace me</div>
