<% if @digital_retailer_film %>

  <div id="digital-retailer-film-details">replace me</div>
  <a class="standard-link" href="<%= "/films/#{@digital_retailer_film.film_id}?tab=marketing" %>">Back to Film</a>

<% else %>

  Digital retailer film not found.

<% end %>
