<% if @episode %>

  <div id="episode-details">replace me</div>
  <a class="standard-link" href="<%= "/films/#{@episode.film_id}?tab=episodes" %>">Back to TV Series</a>

<% else %>

  Episode not found.

<% end %>
