<div id="setting-details">replace me</div>
<div id="digital-retailers-index">replace me</div>
<div id="territories-index">replace me</div>
<div id="formats-index">replace me</div>
<div id="countries-index">replace me</div>
<div id="languages-index">replace me</div>
<div id="genres-index">replace me</div>
<div id="topics-index">replace me</div>
