/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$highlight-color: #01647C;
$button-color: #01647C;
$imgpath: 'handy-components/images';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'library/nice-select';

@import 'me/reset';
@import 'me/fonts';
@import 'me/mix-ins';
@import 'me/general';

@import 'handy-tools/styles/reset';
@import 'handy-tools/styles/fonts';
@import 'handy-tools/styles/general';
@import 'handy-tools/styles/buttons';
@import 'handy-tools/styles/sign-in';

@import 'handy-components/styles/admin-layout';
@import 'handy-components/styles/admin-layout-rails';
@import 'handy-components/styles/admin-table';
@import 'handy-components/styles/admin-table-rails';
@import 'handy-components/styles/modal-select';

@import 'me/current-user-dropdown';
@import 'me/dvd-customer-details';
@import 'me/dvd-details';
@import 'me/films-index';
@import 'me/film-details';
@import 'me/giftbox-details';
@import 'me/licensors-index';
@import 'me/licensor-details';
@import 'me/modal-select';
@import 'me/new-thing';
@import 'me/reports-index';
@import 'me/report-details';
@import 'me/sign-in';
@import 'me/purchase-orders-index';
@import 'me/purchase-order-details';
@import 'me/shipping-address-details';
@import 'me/invoices-index';
@import 'me/invoice-details';
@import 'me/credit-memos-index';
@import 'me/dvd-reports';
@import 'me/return-details';
@import 'me/venue-details';
@import 'me/bookings-index';
@import 'me/booking-details';
@import 'me/settings-details';
@import 'me/advanced-search';
@import 'me/venues-index';
@import 'me/in-theaters';
@import 'me/film-rights-new';
@import 'me/calendar';
@import 'me/sublicensor-details';
@import 'me/codes';
