<% if @film_right %>

  <div id="film-right-details">replace me</div>
  <a class="standard-link" href="<%= "/films/#{@film_right.film_id}?tab=contract" %>">Back to Film</a>

<% else %>

  Right not found.

<% end %>
