#advanced-search {
  margin-bottom: 0;

  .white-box {
    height: 573px;
    position: relative;
    overflow-x: hidden;
  }

  label, .checkbox {
    display: inline-block;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input:not([type]), .clearfix, .type-checkboxes {
    width: 100%;
    margin-bottom: 15px;
  }

  input.select {
    width: calc(100% - 50px);
    margin-right: 17px;
  }

  label {
    font-family: 'TeachableSans-SemiBold';
    color: black;
  }

  .checkbox {
    margin-right: 10px;
  }

  .nice-select {
    min-width: 150px;
  }

  ul {
    max-height: 120px;
    overflow-y: scroll;
  }

  img {
    cursor: pointer;
  }

  div.text-center {
    position: absolute;
    width: 100%;
    bottom: 36px;
  }

  div.type-checkboxes {
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #E4E9ED;
    border-radius: 3px;
  }
}
