.bookings-index {

  th.small-column {
    min-width: 125px;
  }

  th.med-column {
    min-width: 200px;
  }

  th.large-column {
    min-width: 350px;
  }

  .advanced-button {
    margin-right: 20px;
  }
}
