#dvd-customer-details {

  p {
    font-size: 16px;
    font-family: 'TeachableSans-Medium';
    margin-bottom: 30px;
  }

  input, .nice-select {
    width: 100%;
  }

  input.checkbox {
    display: inline-block;
    width: auto;
    margin-right: 25px;
  }

  label.checkbox {
    display: inline-block;
    font-family: 'TeachableSans-Medium';
    color: #2C2F33;
    font-size: 12px;
    margin-bottom: 15px;
  }

  textarea {
    margin-bottom: 30px;
  }

  hr {
    margin-top: 30px;
  }

  table {
    margin-bottom: 60px;

    .name-column {
      color: #5F5F5F;
    }
  }

  a#delete {
    float: right;
  }
}
