#dvd-details {

  input, .nice-select {
    width: 100%;
  }

  input.checkbox {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }

  label.checkbox {
    display: inline-block;
    font-family: 'teachablesansmedium';
    color: #2C2F33;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .repressing-column {
    padding-top: 42px;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 30px;
  }

  hr {
    margin-top: 30px;
  }

  table {
    margin-bottom: 30px;

    .name-column {
      color: #5F5F5F;
    }

    td {
      position: relative;
    }
  }

  .x-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 10px;
    background-image: asset-url('gray-x.png');
    background-size: contain;
    width: 17px;
    height: 17px;
  }

  .blue-outline-button {
    margin-bottom: 30px;
  }

  a#delete {
    float: right;
  }
}
