.film-details {

  input {
    width: 100%;
  }

  input.checkbox {
    display: inline-block;
    width: auto;
    margin-right: 25px;
  }

  label.checkbox {
    display: inline-block;
    font-family: 'teachablesansmedium';
    color: #2C2F33;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .error-guide {
    display: inline-block;
    margin-left: 20px;
    color: red;
  }

  .tabs-row {
    margin-left: 60px;
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;

    .tab {
      float: left;
      background-color: white;
      vertical-align: bottom;
      padding: 20px 20px 15px 20px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      user-select: none;

      &:not(:first-of-type) {
        margin-left: 5px;
      }

      &:not(.selected) {
        margin-bottom: 2px;
        padding-bottom: 13px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 30px;
  }

  a#delete {
    float: right;
  }

  .nice-select {
    width: 100%;
    margin-bottom: 30px;
  }

  .icons {
    padding: 0;

    img {
      margin-top: 34px;
      cursor: pointer;

      &:first-of-type {
        margin-right: 5px;
      }
    }
  }

  .revenue-percentage {
    width: 33%;
    float: left;

    input {
      width: 90%;
    }
  }

  table {
    margin-bottom: 30px;
  }

  .rights-checkboxes {
    input {
      width: auto;
      margin-right: 20px;
    }

    label {
      font-family: 'teachablesansmedium';
      color: #2C2F33;
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  hr.smaller-margin {
    margin-bottom: 15px;
  }

  .checkboxes {

    .col-xs-6 {
      text-align: center;
    }

    input {
      width: auto;
      margin-right: 20px;
    }

    label {
      font-family: 'teachablesansmedium';
      color: #2C2F33;
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  .reserve-section.no-reserve, .auto-renew-section.no-renew {

    h2 {
      color: gray;
    }

    input {
      color: white;
      user-select: none;
    }
  }
}

.licensor-modal-list {
  li {
    cursor: pointer;
    padding: 10px;
    border: solid 1px #5F5F5F;
    border-radius: 6px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #F5F6F7;
    }
  }
}
