.film-details {

  div.key-art {
    width: 100%;
    height: 74px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;

    &.empty {
      border: 1px solid #E4E9ED;
      background-color: #FAFAFA;
    }
  }

  .schedule {

    li.tentative {
      color: red;
      font-style: italic;
    }

    margin-bottom: 60px;
  }

  input {
    width: 100%;
  }

  input.checkbox {
    display: inline-block;
    width: auto;
    margin-right: 25px;
  }

  label.checkbox {
    display: inline-block;
    font-family: 'TeachableSans-Medium';
    color: #2C2F33;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .error-guide {
    display: inline-block;
    margin-left: 20px;
    color: red;
  }

  .tabs-row {
    margin-left: 60px;
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;

    .tab {
      float: left;
      background-color: white;
      vertical-align: bottom;
      padding: 20px 20px 15px 20px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      user-select: none;

      &:not(:first-of-type) {
        margin-left: 5px;
      }

      &:not(.selected) {
        margin-bottom: 2px;
        padding-bottom: 13px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .blue-outline-button {
    margin-bottom: 30px;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 30px;
  }

  a#delete {
    float: right;
  }

  .nice-select {
    width: 100%;
    margin-bottom: 30px;
  }

  .icons {
    padding: 0;

    img {
      margin-top: 34px;
      cursor: pointer;

      &:first-of-type {
        margin-right: 5px;
      }
    }
  }

  .revenue-percentage {
    width: 14.285%;
    float: left;

    input {
      width: 90%;
    }
  }

  table {
    margin-bottom: 30px;
  }

  .rights-checkboxes {
    input {
      width: auto;
      margin-right: 20px;
    }

    label {
      font-family: 'TeachableSans-Medium';
      color: #2C2F33;
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  hr.smaller-margin {
    margin-bottom: 15px;
  }

  .checkboxes {

    .col-xs-6 {
      text-align: center;
    }

    input {
      width: auto;
      margin-right: 20px;
    }

    label {
      font-family: 'TeachableSans-Medium';
      color: #2C2F33;
      font-size: 12px;
      margin-bottom: 15px;

      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }
  }

  .reserve-section.no-reserve, .auto-renew-section.no-renew {

    h2 {
      color: gray;
    }

    input {
      color: white;
      user-select: none;
    }
  }

  .quote-container {
    padding: 0 20px 20px 20px;

    .quote {
      position: relative;
      border: solid 1px #E4E9ED;
      border-radius: 3px;
      padding: 15px;
      cursor: pointer;

      p:first-of-type {
        font-family: 'TeachableSans-Medium';
        margin-bottom: 10px;
      }

      p:last-of-type {
        font-family: 'TeachableSans-Medium';
      }

      .handle {
        display: inline-block;
        position: absolute;
        top: calc(50% - 8px);
        right: 30px;
        background-image: asset-url('handle.png');
        background-position: 50%;
        background-size: 17px;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        cursor: grab;
      }
    }
  }

  .search-box {
    margin-right: 0 !important;
    margin-bottom: 40px;
  }

  ul.bookings-count-list {
    display: inline-block;
    font-family: 'TeachableSans-Bold';
    font-size: 14px;

    li {
      float: left;
      border: 1px solid #E4E9ED;
      border-radius: 10px;
      padding: 10px 20px;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .bookings-table {

    th:first-of-type {
      width: 180px;
    }

    th:last-of-type {
      width: 200px;
    }
  }

  .digital-retailers-table {

    th:first-of-type {
      width: 200px;
    }
  }
}

.licensor-modal-list {

  li {
    cursor: pointer;
    padding: 10px;
    border: solid 1px #5F5F5F;
    border-radius: 6px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #F5F6F7;
    }
  }
}
