html {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.jobs-modal .spinner {
  top: calc(35% - 45px) !important;
}

body {
  background-color: #F5F6F7;
  height: 100%;

  #current-user {
    display: none;
  }

  #upload-form {
    display: none;
  }

  #admin-framework {
    min-height: 100%;

    #admin-row {
      margin: 0;
      height: 100%;

      #admin-sidebar {
        background-color: white;
        padding: 0;
        height: 100%;

        #admin-sidebar-header {
          background-image: asset-data-url("swirl.jpg");
          background-repeat: no-repeat;
          background-position: 50%;
          width: 100%;
          height: 100px;
          text-align: center;
          padding-top: 39px;
        }

        #admin-sidebar-body {
          padding: 36px 32px;
          font-family: 'TeachableSansSemiBold';
          font-size: 13px;
          color: #B0B0B0;

          li {
            &:not(:last-of-type) { padding-bottom: 30px; }

            .highlight {
              color: $button-color;
              cursor: default;
              font-family: 'TeachableSansExtraBold';
            }
          }
        }
      }

      #admin-right-column {
        padding: 0;

        #admin-navbar {
          background-color: white;
          height: 100px;
          padding-top: 35px;

          #current-user, #permissions {
            display: none;
          }

          #admin-navbar-menu {
            margin-left: 90%;
          }
        }
        #admin-right-column-content {
          padding: 40px;
        }
      }
    }
  }
}

a.see-all {
  margin: auto;
  margin-top: 20px;
}

body {

  .component {
    margin-bottom: 62px;

    h1 {
      margin-top: 10px;
      display: inline-block;
      font-size: 20px;
      color: #2C2F33;
      letter-spacing: 1.08px;
      margin-bottom: 28px;
    }

    hr {
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: -32px;
      width: calc(100% + 64px);
    }

    .float-button {
      float: right;
      user-select: none;
    }

    .search-box {
      float: right;
      margin-right: 30px;
      border-radius: 100px;
      padding: 15px 15px 15px 50px;
      width: 250px;
      background-image: asset-data-url("magnifying-glass.png");
      background-repeat: no-repeat;
      background-position: 15px 11px;

      &:focus {
        outline: none;
      }
    }

    .white-box {
      background: #FFFFFF;
      padding: 36px 32px;
      border-radius: 6px;
      box-shadow: 1px 2px 3px 0px #E6E9EC;
      position: relative;
      color: #5F5F5F;

      h2 {
        font-family: 'TeachableSansMedium';
        font-size: 12px;
        color: #2C2F33;
        margin-bottom: 15px;
      }

      .yesFieldError {
        color: red;
      }

      .change-image {
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
        color: #95949B;
      }
    }
  }

  .link {
    font-size: 10px;
    cursor: pointer;
    color: #95949B;
  }

  .orange-button, .light-orange-button, .blue-outline-button, .red-button {
    display: inline-block;
    min-width: 175px;
    text-align: center;
    font-size: 12px;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .orange-button, .light-orange-button, .red-button {
    font-family: 'TeachableSansBold';
    padding: 15px 40px;
  }

  .blue-outline-button {
    font-family: 'TeachableSansSemiBold';
    padding: 10px 40px;
    color: $button-color;
    border: solid 1px $button-color;

    &.small {
      padding: 5px 10px 5px 10px;
      min-width: 120px;
    }
  }

  .red-button {
    color: white;
    background-color: red;

    &:hover {
      background-color: #F15050;
    }
  }

  .orange-button {
    color: white;
    background-color: $button-color;

    &:hover {
      background-color: #0385a4;
    }
  }

  .orange-button.inactive {
    background-color: #D8CDC5;
    cursor: default;
    color: inherit;
  }

  .light-orange-button {
    color: #FF7F45;
    background-color: rgba(255, 127, 69, 0.1);

    &:hover {
      color: #FF7F45;
      background-color: rgba(255, 127, 69, 0.2);
    }
  }

  .light-orange-button.disabled, .orange-button.disabled, .green-outline-button.disabled {
    display: none;
  }

  .dotted-box {
    border: dashed 2px #FF7F45;
    background: #F8F3F1;
    border-radius: 6px;
    width: 240px;
    height: 255px;
    font-family: 'TeachableSansSemiBold';
    color: #FF7F45;
    text-align: center;
    cursor: pointer;
  }

  .grabbing {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
  }

  table.admin-table {
    width: 100%;

    thead {
      border-bottom: solid 1px #DADEE2;

      th {
        font-family: 'TeachableSansSemiBold';
        padding-bottom: 20px;
        color: black;
      }
      th:first-of-type {
        padding-left: 10px;
      }

      .sort-header-active {
        display: inline;
        color: #01647C;
        cursor: default;
        font-family: 'TeachableSansExtraBold';
      }

      .sort-header-inactive {
        display: inline;
        cursor: pointer;
      }
    }

    tbody {

      td {
        padding-top: 10px;
        position: relative;
        padding-bottom: 10px;
        color: #96939B;
      }

      tr.bold td, td.bold {
        font-family: 'TeachableSansMedium';
        color: black;
      }

      td.name-column {
        font-family: 'TeachableSansMedium';
        color: black;
        padding-left: 10px;

        img {
          width: 26px;
          height: 26px;
          border-radius: 100%;
          margin-right: 10px;
        }
      }

      td.indent {
        padding-left: 10px;
      }

      tr:first-child {
        td {
          padding-top: 10px;
          padding-bottom: 0;
        }
      }

      .x-button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        margin-right: 10px;
        background-image: asset-url('gray-x.png');
        background-size: contain;
        width: 17px;
        height: 17px;
      }
    }

    &:not(.no-hover) {
      tr:not(:first-child) {
          cursor: pointer;
      }
    }

    &:not(.no-highlight) {
      tr:not(:first-child):hover {
        background-color: #F5F5F5;
      }
    }
  }
}

.details-component {

  input, .nice-select {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
    font-family: 'teachablesansmedium';
    margin-bottom: 30px;
  }

  a#delete {
    float: right;
  }

  .copy-address-button {
    margin-top: 28px;
    padding: 14px 0;
    width: 100%;
    max-width: 250px;
  }
}

.select-from-modal {
  margin-top: 35px;
  cursor: pointer;
}
