html {
  height: 100%;
}

.select-scroll .nice-select ul {
  height: 400px;
  overflow-y: scroll;
}

.select-scroll-3 .nice-select ul {
  height: 120px;
  overflow-y: scroll;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.jobs-modal {
  font-weight: normal;

  .spinner {
    top: calc(35% - 45px) !important;
  }
}

.horizontal-scroll {
  overflow-x: scroll;
}

a.standard-link {
  text-decoration: underline;
}

.nice-select.three-options ul {
  max-height: 120px !important;
}

.my-modal-header {
  margin-top: 30px;
  font-size: 20px;
  font-family: 'TeachableSans-Regular';
  color: #2C2F33;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 20px;
}

.icons-column {
  padding: 0;

  img {
    margin-top: 34px;
    cursor: pointer;

    &:first-of-type {
      margin-right: 5px;
    }
  }
}

body {
  background-color: #F5F6F7;
  height: 100%;

  #current-user {
    display: none;
  }

  #upload-form {
    display: none;
  }

  #admin-framework #admin-row {

    #admin-sidebar {
      background-image: asset-data-url("swirl.jpg");
      background-repeat: no-repeat;
      background-position: 50% 15px;

      #admin-sidebar-header {
        height: 100px;
      }
    }

    #admin-right-column {
      padding: 0;

      #admin-navbar {
        background-color: white;
        height: 100px;
        padding-top: 35px;

        #current-user, #permissions {
          display: none;
        }

        #admin-navbar-menu {
          margin-left: 90%;
        }
      }

      #admin-right-column-content {
        padding: 40px;
      }
    }
  }
}

a.see-all {
  margin: auto;
  margin-top: 20px;
}

body {

  .component {

    h1 {
      margin-top: 10px;
      display: inline-block;
      font-size: 20px;
      color: #2C2F33;
      letter-spacing: 1.08px;
      margin-bottom: 28px;
    }

    hr {
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: -32px;
      width: calc(100% + 64px);
    }

    .float-button {
      float: right;
      user-select: none;
    }

    .white-box {
      background: #FFFFFF;
      padding: 36px 32px;
      border-radius: 6px;
      box-shadow: 1px 2px 3px 0px #E6E9EC;
      position: relative;
      color: #5F5F5F;

      h2 {
        font-family: 'TeachableSans-Medium';
        font-size: 12px;
        color: #2C2F33;
        margin-bottom: 15px;
      }

      .yesFieldError {
        color: red;
      }

      .change-image {
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
        color: #95949B;
      }
    }
  }

  .link {
    font-size: 10px;
    cursor: pointer;
    color: #95949B;
  }

  .orange-button, .light-orange-button, .red-button, .cancel-button {
    font-family: 'TeachableSans-Bold';
    padding: 15px 40px;
  }

  .orange-button, .light-orange-button, .blue-outline-button, .red-button, .cancel-button {
    display: inline-block;
    min-width: 175px;
    text-align: center;
    font-size: 12px;
    border-radius: 100px;

    &.small {
      min-width: 100px;
      padding: 15px 0;
      font-family: 'TeachableSans-Regular';
    }

    &.margin {
      margin-right: 30px;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .cancel-button {
    border: solid 1px black;
  }

  .blue-outline-button {
    font-family: 'TeachableSans-SemiBold';
    padding: 10px 40px;
    color: $button-color;
    border: solid 1px $button-color;

    &.small {
      padding: 5px 10px 5px 10px;
      min-width: 120px;
    }

    &.margin-bottom {
      margin-bottom: 30px;
    }
  }

  .red-button {
    color: white;
    background-color: red;

    &:hover {
      background-color: #F15050;
    }
  }

  .orange-button {
    color: white;
    background-color: $button-color;

    &:hover {
      background-color: #0385a4;
    }
  }

  .orange-button.inactive {
    background-color: #D8CDC5;
    cursor: default;
    color: inherit;
  }

  .light-orange-button {
    color: #FF7F45;
    background-color: rgba(255, 127, 69, 0.1);

    &:hover {
      color: #FF7F45;
      background-color: rgba(255, 127, 69, 0.2);
    }
  }

  .light-orange-button.disabled, .orange-button.disabled, .green-outline-button.disabled {
    display: none;
  }

  .dotted-box {
    border: dashed 2px #FF7F45;
    background: #F8F3F1;
    border-radius: 6px;
    width: 240px;
    height: 255px;
    font-family: 'TeachableSans-SemiBold';
    color: #FF7F45;
    text-align: center;
    cursor: pointer;
  }

  .grabbing {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
  }

  table.fm-admin-table {
    width: 100%;

    thead {
      border-bottom: solid 1px #DADEE2;

      th {
        font-family: 'TeachableSans-SemiBold';
        padding-bottom: 20px;
        color: black;
      }
      th:first-of-type {
        padding-left: 10px;
      }

      .sort-header-active {
        display: inline;
        color: #01647C;
        cursor: default;
        font-family: 'TeachableSans-ExtraBold';
      }

      .sort-header-inactive {
        display: inline;
        cursor: pointer;
      }
    }

    tbody {

      td {
        padding-top: 10px;
        position: relative;
        padding-bottom: 10px;
        color: #96939B;
      }

      tr.bold td, td.bold {
        font-family: 'TeachableSans-Medium';
        color: black;
      }

      td.name-column {
        font-family: 'TeachableSans-Medium';
        color: black;
        padding-left: 10px;

        img {
          width: 26px;
          height: 26px;
          border-radius: 100%;
          margin-right: 10px;
        }
      }

      td.indent {
        padding-left: 10px;
      }

      tr:first-child {
        td {
          padding-top: 10px;
          padding-bottom: 0;
        }
      }

      .x-button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        margin-right: 10px;
        background-image: asset-url('gray-x.png');
        background-size: contain;
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
    }

    &:not(.no-hover) {
      tr:not(:first-child) {
          cursor: pointer;
      }
    }

    &:not(.no-highlight) {
      tr:not(:first-child):hover {
        background-color: #F5F5F5;
      }
    }
  }
}

.details-component {

  input, .nice-select {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  .noDropdownFieldError {
    height: 81px;
  }

  .yesDropdownFieldError {
    padding-top: 55px;
    height: 55px;
    color: red;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 16px;
    font-family: 'TeachableSans-Medium';
    margin-bottom: 30px;
  }

  a#delete {
    float: right;
  }

  .copy-address-button {
    margin-top: 28px;
    padding: 14px 0;
    width: 100%;
    max-width: 250px;
  }
}

.select-from-modal {
  margin-top: 35px;
  cursor: pointer;
}

ul.standard-list {
  border: 1px solid #E4E9ED;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  li {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    .x-button {
      display: inline-block;
      position: absolute;
      right: 0;
      background-image: asset-url('gray-x.png');
      background-size: contain;
      width: 17px;
      height: 17px;
      cursor: pointer;
    }
  }

  &.reorderable {
    padding: 4px 11px;

    li:not(.drop-zone) {
      padding: 4px;
      margin-bottom: 0;

      .x-button {
        right: 4px;
      }
    }

    li.drop-zone {
      height: 7px;

      &.highlight {
        border: dashed 1px black;
      }
    }
  }

  &.reorderable li .handle {
    display: inline-block;
    position: absolute;
    right: 30px;
    background-image: asset-url('handle.png');
    background-position: 50%;
    background-size: 17px;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    cursor: grab;
  }
}
