#giftbox-details {

  input, .nice-select {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 30px;
  }

  hr {
    margin-top: 30px;
  }

  table {
    margin-bottom: 15px;

    .name-column {
      color: #5F5F5F;
    }
  }

  a#delete {
    float: right;
  }
}
