#licensor-details {

  input {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 60px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 50px;
  }

  table {
    margin-bottom: 60px;

    .name-column {
      color: #5F5F5F;
    }
  }

  a#delete {
    float: right;
  }
}
