#new-thing.component {
  margin-bottom: 0 !important;
  height: 100%;

  .white-box {
    position: relative;
    box-shadow: none !important;
    height: 100%;

    input, .nice-select {
      width: 100%;
      margin-bottom: 10px;
    }

    .nice-select {
      margin-bottom: 32px;
    }

    .dvd-type-column {
      margin-bottom: 150px;
    }

    .noFieldError {
      margin-bottom: 32px;
    }

    .yesFieldError {
      margin-bottom: 15px;
    }

    input.checkbox {
      display: inline-block;
      width: auto;
      margin-right: 25px;
    }

    label.checkbox {
      display: inline-block;
      font-family: 'TeachableSans-Medium';
      color: #2C2F33;
      font-size: 12px;
      margin-bottom: 15px;
    }

    .consignment-column {
      padding-top: 42px;
    }

    .dvd-customer-placeholder {
      margin-bottom: 115px;
    }

    p {
      height: 22px;
      line-height: 22px;
      font-size: 16px;
      text-align: center;

      &:last-of-type {
        font-style: italic;
        margin-bottom: 30px;
      }
    }

    h1 {
      font-size: 16px;
      font-family: 'TeachableSans-Medium';
      color: #5F5F5F;
      margin-bottom: 30px;
    }

    ul {
      max-height: 200px;
      overflow-y: scroll;
    }

    a {
      position: absolute;
      bottom: 36px;
    }

    .return-customer ul {
      max-height: 120px;
      overflow-y: scroll;
    }
  }
}
