#new-thing.component {
  margin-bottom: 0 !important;

  .white-box {
    box-shadow: none !important;

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    .noFieldError {
      margin-bottom: 32px;
    }

    .yesFieldError {
      margin-bottom: 15px;
    }
  }
}
