#purchase-order-details {

  p {
    background-color: lightyellow;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: 'teachablesansbold';
  }

  input, .nice-select {
    width: 100%;
  }

  input.checkbox {
    vertical-align: text-top;
    margin-top: 1px;
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }

  label.checkbox {
    display: inline-block;
    font-family: 'teachablesansmedium';
    color: #2C2F33;
    font-size: 12px;
    margin-bottom: 0;
  }

  .notification {
    margin-top: 15px;
    font-style: italic;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  ul.list {
    height: 320px;
    overflow-y: scroll;
  }

  table {
    margin-bottom: 15px;

    tr {
      cursor: default;
    }

    td.warning {
      color: red;
      font-family: 'teachablesansbold';
    }

    .name-column {
      color: #5F5F5F;
    }

    .x-button {
      cursor: pointer;
    }
  }

  textarea {
    margin-bottom: 30px;
  }

  a#ship, a#reporting-only {
    margin-top: 15px;
    display: inline-block;
    width: 200px;
  }

  a#ship {
    margin-right: 20px;

    &:not(.shipped) {
      margin-bottom: 30px;
    }

    &.shipped {
      background-color: white;
      color: black;
      cursor: default;
      border: solid 1px black;
      padding-right: 0;
      padding-left: 0;
    }
  }

  a#delete {
    float: right;
  }

  .blue-outline-button {
    padding: 7px 20px;
    margin-bottom: 30px;
  }

  a#save-address {
    float: right;
  }
}

div.qty-modal {
  padding: 30px;
  text-align: center;

  h1 {
    font-size: 16px;
    margin-bottom: 14px;
  }

  h2 {
    font-size: 12px;
    margin-bottom: 20px;
  }

  input {
    width: 170px;
    margin-bottom: 20px;
  }

  .orange-button {
    margin: auto;
  }
}
