#reports-index {

  a:not(:first-of-type) {
    margin-right: 15px;
  }

  a {
    padding: 12px 20px;
    min-width: inherit;
    border-radius: 5px;
  }

  input {
    position: absolute;
    top: 12px;
    right: 0;
    border-radius: 100px;
    padding: 15px 15px 15px 50px;
    width: 250px;
  }

  th:first-of-type {
    width: 40%;
  }

  th:nth-of-type(2) {
    width: 30%;
  }

  th:nth-of-type(3) {
    width: 15%;
  }

  th:nth-of-type(4) {
    width: 15%;
  }

  .nice-select {
    width: 100px;
    position: absolute;
    top: 14px;
    right: 300px;
  }

  .arrow-button {
    min-width: 25px;
  }
}

.ReactModalPortal {

  .import-file, .errors-modal, .send-modal {

    h1 {
      color: #2C2F33;
      font-family: 'TeachableSans-SemiBold';
      font-size: 20px;
      line-height: 27px;
      max-width: 350px;
      margin: auto;
      margin-bottom: 10px;
    }

    .orange-button {
      width: 124px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
      user-select: none;
    }
  }

  .errors-modal {

    .import-error {
      font-size: 14px;
      line-height: 22px;
      background: pink;
      border: solid 1px red;
      border-radius: 5px;
      padding: 3px;
      margin-bottom: 5px;
      color: black;

      &.green {
        background: lightgreen;
        border: solid 1px green;
      }
    }

    .orange-button {
      position: absolute;
      bottom: 20px;
      margin: 0;
      left: calc(50% - 87.5px);
    }
  }

  .send-modal {
    h1 {
      max-width: none;
      margin-bottom: 0;
    }

    .orange-button {
      margin-top: 20px;
    }
  }
}
