#reports-index {

  a:not(:first-of-type) {
    margin-right: 15px;
  }

  input {
    position: absolute;
    top: 12px;
    right: 0;
  }

  th {
    width: 350px;
  }

  .nice-select {
    width: 100px;
    position: absolute;
    top: 14px;
    right: 300px;
  }

  .arrow-button {
    min-width: 25px;
  }

  .sort-header-active {
    display: inline;
    color: #01647C;
    cursor: default;
    font-family: 'TeachableSansExtraBold';
  }

  .sort-header-inactive {
    display: inline;
    cursor: pointer;
  }
}

.ReactModalPortal {

  .import-file, .errors-modal {

    h1 {
      color: #2C2F33;
      font-family: 'TeachableSansSemiBold';
      font-size: 20px;
      line-height: 27px;
      max-width: 350px;
      margin: auto;
      margin-bottom: 10px;
    }

    .orange-button {
      width: 124px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
      user-select: none;
    }
  }

  .errors-modal {

    .import-error {
      font-size: 14px;
      line-height: 22px;
      background: pink;
      border: solid 1px red;
      border-radius: 5px;
      padding: 3px;
      margin-bottom: 5px;
      color: black;
    }

    .orange-button {
      position: absolute;
      bottom: 20px;
      margin: 0;
      left: calc(50% - 87.5px);
    }
  }
}
