#royalty-details {

  h1, h3, h4 {
    display: block;
    text-align: center;
    margin: auto;
  }

  h1 {
    span {
      cursor: pointer;
    }
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  h4 {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .headers {
    color: black;
    margin-bottom: 10px;

    div {
      text-align: center;
    }
  }

  .stream-name {
    margin-top: 10px;
    text-align: center;
    font-family: 'TeachableSansMedium';
    font-size: 12px;
    color: #2C2F33;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  .noFieldError {
    margin-bottom: 10px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 10px;
  }

  a#toggle, a#export {
    float: right;
  }

  a#toggle {
    margin-right: 20px;
  }

  .label {
    position: absolute;
    right: 100%;
    width: 300px;
    text-align: right;
    margin-top: 10px;
    font-family: 'TeachableSansMedium';
    font-size: 12px;
    color: #2C2F33;
  }

  .last-row {
    margin-bottom: 60px;
  }
}
