#reports-index {

  a:not(:first-of-type) {
    margin-right: 15px;
  }

  input {
    position: absolute;
    top: 12px;
    right: 0;
  }

  th {
    width: 350px;
  }

  .nice-select {
    width: 100px;
    position: absolute;
    top: 14px;
    right: 300px;
  }
}
