#shipping-address-details {

  input, .nice-select {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 30px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  ul.list {
    height: 320px;
    overflow-y: scroll;
  }

  a#delete {
    float: right;
  }
}
