#user-details {

  img {
    width: 69px;
    height: 69px;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }

  .nice-select {
    width: 100%;
  }

  .noFieldError {
    margin-bottom: 60px;
  }

  .yesFieldError {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 40px;
  }

  textarea {
    margin-bottom: 60px;
  }

  .change-image {
    margin-bottom: 56px;
  }
}
